<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>Simple app for checking weather. Made as excercise of Node.js and Exppess.</p>
    <img src="/img/me.jpg">
    <p>Author: Kacper Stodolak</p>
</div>
{{>footer}}
</body>

</html>